body {
    background-color: #d9d4d4;
    font-size: 100%;
}
}

.tab { text-indent: 40px; }
div.navigate {
    top: 0;
    left: 0;
    color: #FF007F;
    font-family: Verdana, sans-serif;
    font-style: oblique;
    text-decoration: underline;
}

h1 {
font-family: "Luminari", fantasy;
    text-decoration: underline;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 2px 2px #f70ebd;
    }
    
    h2 {
        font-family: "Luminari", fantasy;
font-style: italic;
    text-decoration: underline;
    color: #FF007F;
    text-align: left;
    }
    
    h3 {
        ffont-family: "Brush Script MT", cursive;
    text-decoration: underline;
    color: #003366;
    text-align: left;
        margin-left: 100px;
    }
       
        
   

p {
font-family: "Trebuchet MS", sans-serif;
    color: #003366;
    margin-left: 100px;
    margin-right: 100px;
}
    li {
        margin-left: 15px;
    font-family: "Snell Roundhand", cursive;
    color: #f70ebd;
        font-size: 1em;
        text-shadow: 2px 2px #FFFFFF;
    }

div.blockquote {
    text-indent: 40px;
    font-family: Verdana, sans-serif;
    font-style: bold;
    color: #000000;
    font-size: .875em;
}
